In [23]:
#1.
c= int(input(' enter a num '))
if(c%2):
    print('Odd')
else:
    print('Even')

 enter a num 4
Even

In [21]:
#2.
i= 0
q= int(input(' enter a number '))
for i in  range(0,q,1):
    t = i*i
    if t==q:
        break
print(i)

 enter a number 361
19

In [18]:
#3.
n= int(input(' enter a number '))
for i in range(1,n+1,1):
    print(i,end=" ")
print(' ')
print('reverse')
for i in range(0,n,1):
    print(n-i,end=" ")

 enter a number 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
reverse
23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [14]:
#4.
for i in range(2,100,1):
    if i%2==0:
        print(i,'Even')
    else:
        print(i,'Odd')

2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even
11 Odd
12 Even
13 Odd
14 Even
15 Odd
16 Even
17 Odd
18 Even
19 Odd
20 Even
21 Odd
22 Even
23 Odd
24 Even
25 Odd
26 Even
27 Odd
28 Even
29 Odd
30 Even
31 Odd
32 Even
33 Odd
34 Even
35 Odd
36 Even
37 Odd
38 Even
39 Odd
40 Even
41 Odd
42 Even
43 Odd
44 Even
45 Odd
46 Even
47 Odd
48 Even
49 Odd
50 Even
51 Odd
52 Even
53 Odd
54 Even
55 Odd
56 Even
57 Odd
58 Even
59 Odd
60 Even
61 Odd
62 Even
63 Odd
64 Even
65 Odd
66 Even
67 Odd
68 Even
69 Odd
70 Even
71 Odd
72 Even
73 Odd
74 Even
75 Odd
76 Even
77 Odd
78 Even
79 Odd
80 Even
81 Odd
82 Even
83 Odd
84 Even
85 Odd
86 Even
87 Odd
88 Even
89 Odd
90 Even
91 Odd
92 Even
93 Odd
94 Even
95 Odd
96 Even
97 Odd
98 Even
99 Odd

In [11]:
#5.
a1 = int(input('Enter first '))
b1 = int(input('Enter second '))
c1 = int(input('Enter third '))
r1 = ((-1*b1)+(((b1**2)-(4*a1*c1))**(0.5)))/(2*a1)
r2 = ((-1*b1)-(((b1**2)-(4*a1*c1))**(0.5)))/(2*a1)
print(' Roots are ',round(r1,2),' & ',round(r2,2))

Enter first 3
Enter second 10
Enter third 2
 Roots are  -0.21  &  -3.12

In [2]:
#6.
n1 = int(input('enter a number'))
i=0
while n1>0:
    i+=1
    n1=int(n1/10)

print(' The number of digits are ', i)

enter a number67787
 The number of digits are  5

In [28]:
#7.
p = int(input('Enter number '))
i=2
c=0
for i in range(2,p,1):
    if p%i == 0:
        c=c+1
        break

if c==0:    
    print('True')
else:
    print('False')

Enter number 438
False

In [78]:
#8.
p1 = int(input('Enter number '))
d=0
for i in range(1,p1,1):
    if ((i%3 == 0) or (i%5 ==0)):
        d=d+i
print(' The sum is ',d)

Enter number 67
 The sum is  1064

In [84]:
#9.
z = int(input('Enter number '))
e=int(input(' Enter choice 1:sum 2:product '))
d=1
if e==1:
    for i in range(2,z+1,1):
        d=d+i 
else:
     for i in range(1,z+1,1):
        d=d*i
print(' you have selected ',e,' and result is ',d)

Enter number 5
 Enter choice 1:sum 2:product 1
 you have selected  1  and result is  15

In [1]:
#10.
d1=0
for i1 in range(2,1000,1):
        if ((i1%3 == 0) or (i1%5 ==0)):
            d1=d1+i1

print(' The sum is ',d1)

 The sum is  233168

In [6]:
#11.
d2=1
for i2 in range(2000,3201,1):
        if ((i2%7 == 0) and (i2%5 !=0)):
            print(i2)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [7]:
#12.
d3=0
s=0
for i3 in range(1,101,1):
    d3=d3+i3
    s=s+(i3*i3)

r= d3*d3
w = s-d3
print(' difference is ',w)

 difference is  333300

In [1]:
#13.
f=0
c=0
i=1
while i>0:
    h=input('Enter a number input stop to stop')
    if(h!='stop' ):
        h=int(h)
        f=f+h
        c=c+1
    else:
        print('The total is ',f)
        print(' you entered ',c,' numbers ')
        y=f/c
        print(' The average is ',y)
        break
    i+=1

Enter a number input stop to stop1
Enter a number input stop to stop2
Enter a number input stop to stop3
Enter a number input stop to stop4
Enter a number input stop to stopstop
The total is  10
 you entered  4  numbers
 The average is  2.5

In [72]:
#14.
u=int(input('Enter a number = '))
for i in range(2,u+1,1):
    j=0
    for f in range(2,i,1):
        if(i%f==0):
            j=1
            break
    if(j==0):
        print( 'prime number is',i)

Enter a number = 17
prime number is 2
prime number is 3
prime number is 5
prime number is 7
prime number is 11
prime number is 13
prime number is 17

In [12]:
#15.
t=int(input('Enter number of choice '))
d4=1
for i in range(1,t,1):
    d4=d4*(i+1)
print(' factorial is ',d4)

Enter number of choice 12
 factorial is  479001600

In [13]:
#16.
o=int(input(' Enter limit of fibonacci series '))
i=1
a=0
b=0
print('0')
while i<o:
    b=i+a
    print(b)
    t=i
    i=b
    a=t

 Enter limit of fibonacci series 32
0
1
2
3
5
8
13
21
34

In [4]:
#17.
x = int(input(' enter first number '))
y = int(input(' enter second number '))
i=1
while i>0:
        i = i+1
        if ((i%x==0) and (i%y==0)):
            print('LCM is ',i)
            break

 enter first number 34
 enter second number 34
LCM is  34

In [1]:
#18.
f=int(input(' Enter a number '))
i=1
for i in range(1,f+1,1):
    if (f%i==0):
        print(' factor is ',i)

 Enter a number 56
 factor is  1
 factor is  2
 factor is  4
 factor is  7
 factor is  8
 factor is  14
 factor is  28
 factor is  56

In [21]:
#19 1.
for i in range(1,6,1):
    for j in range(1,i+1,1):
         print('*',end =" ")
    print('\n')

*

* *

* * *

* * * *

* * * * *

In [65]:
#19 2.
r=7
while r>=1:
    y=1
    while y<=r:
        print('*',end =" ")
        y=y+1
    print('\n')
    r=r-1

* * * * * * *

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [66]:
#19 3.
for l in range(1,6,1):
    for k in range(1,l+1,1):
         print(l,end =" ")
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [67]:
#19 4.
n=4
for l in range(1,5,1):
    for g in range(1,n,1):
        print(' ',end=" ")
    for k in range(1,l+1,1):
         print(' * ',end =" ")
    n=n-1
    print('\n')

       *

     *   *

   *   *   *

 *   *   *   *

In [6]:
#19 5.
c=1
for p in range(1,5,1):
    for o in range(1,p+1,1):
        print(c,end =" ")
        c=c+1
    print('\n')

1

2 3

4 5 6

7 8 9 10

In [4]:
#19 6.
c='ABCDEFGHIJKLMNOPQ'
y=0
for p in range(1,5,1):
    for o in range(1,p+1,1):
        print(c[y],end =" ")
        y=y+1
    if(p==4):
        print('K')
    print('\n')

A

B C

D E F

G H I J K

In [6]:
#22.
s = int(input(' Enter number for pattern '))
t=0
i=1
g=1
p=0
while i<=4:
    t=t+(g*s)
    p=p+t
    print(t,'+',end=" ")
    i+=1
    g=g*10
print('\b\b=',p)

 Enter number for pattern 9
9 + 99 + 999 + 9999 = 11106